<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSDesktopFolderUsageDescription</key>
	<string>需要访问桌面文件夹以浏览和管理文件</string>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>需要访问文档文件夹以浏览和管理文件</string>
	<key>NSDownloadsFolderUsageDescription</key>
	<string>需要访问下载文件夹以浏览和管理文件</string>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>需要访问文件以进行浏览和管理</string>
	<key>NSRemovableVolumesUsageDescription</key>
	<string>需要访问外部存储设备以浏览和管理文件</string>
</dict>
</plist>
